# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/bootleaf1/assets/userCakeV2.0.2.zip
/bootleaf1/assets/alexweissman-UserFrosting-a828247.zip
/bootleaf1/assets/bootstrapvalidator-dist-0.5.2.zip
/bootleaf1/assets/Leaflet.draw-master.zip
/bootleaf1/assets/Leaflet.markercluster-master.zip
/bootleaf1/assets/leaflet-control-geocoder-master.zip
/bootleaf1/assets/master-login-system-master.zip
/bootleaf1/assets/PHP-Database-GeoJSON-master.zip
/bootleaf1/assets/PHP-Database-KML-master.zip
/bootleaf1/assets/sidebar-v2-gh-pages.zip
